.points-and-rewards {}

.points-and-rewards ul {
    max-height: 80vh;
    background-color: #F8F9FA;
    padding: 20px;
    border-radius: 12px;
    overflow-y: auto;
}

.points-and-rewards ul::-webkit-scrollbar{
    width: 5px;
}


.points-and-rewards ul li h4 {
    color: var(--title-color);
    font-size: 1.3rem;
    font-weight: 700;
}

.points-and-rewards ul.points-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.points-and-rewards ul.points-list li .text h4 {
    color: var(--title-color);
    font-size: 1.3rem;
    font-weight: 700;
}

.points-and-rewards ul.points-list li .text p {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
}

.points-and-rewards ul.points-list li span {
    width: 45px;
    height: 40px;
    background-color: #5a5a5a27;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 4px;
    color: var(--title-color);
}

/* =======================================
rewards-list
========================================== */

.points-and-rewards ul.rewards-list li {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.points-and-rewards ul.rewards-list li p {
    color: var(--text-color);
    font-size: 1rem;
    background-color: var(--white-color);
    border-radius: 5px;
    padding: 8px 16px;
}