.stats-card{
    width: 90%;
    height: 100%;
    background-color: var(--main-color);
    padding: 20px;
}

.stats-card h5{
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 12px;
}

.stats-card .numbers h3{
    font-size: 2.1rem;
    font-weight: 700;
    color: var(--white-color);
}

@media(max-width:1590px){
    .stats-card h5{
        font-size: 1.1rem;
    }
}

@media(max-width:768px){
    .stats-card h5{
        font-size: 1rem;
    }
    .stats-card .numbers h3{
        font-size: 1.5rem;
    }
}