ul.custom-list{
    background-color: #dadada70;
    padding: 25px;
    border-radius: 12px;
    max-height: 50vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: inset 0 0 15px 5px #acacac2d;
}

ul.custom-list::-webkit-scrollbar{
    width: 4px;
}

ul.custom-list li{
    background-color: #91abc91a;
    padding: 15px;
    border-radius: 8px;

}
