.notification {}

.notification h2 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    margin-top: 15px;
}

.sent-notifications {
    background-color: #eee;
    width: 100%;
    height: 75vh;
    /* display: flex;
    justify-content: center;
    align-items: start; */
    border-radius: 12px;
    box-shadow: inset 0 0 3px #a8a8a8;
    overflow-y: auto;
}

.sent-notifications::-webkit-scrollbar {
    width: 4px;
}