.menu-button .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 80%;
}

@media(max-width: 500px){
    .menu-button .ham {
        width: 50px;
    }
}

.menu-button .hamRotate.active {
    transform: rotate(45deg);
}

.menu-button .hamRotate180.active {
    transform: rotate(180deg);
}

.menu-button .line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.menu-button .ham1 .top {
    stroke-dasharray: 40 139;
}

.menu-button .ham1 .bottom {
    stroke-dasharray: 40 180;
}

.menu-button .ham1.active .top {
    stroke-dashoffset: -98px;
}

.menu-button .ham1.active .bottom {
    stroke-dashoffset: -138px;
}