aside {
    background-color: #F8F9FA;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

aside::-webkit-scrollbar{
    width: 4px;
}

aside .logo img {
    width: 150px;
}

aside ul li {
    list-style: none;
    margin-bottom: 12px;
}

aside a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 12px;
    border-radius: 24px;
    transition: var(--transition);
    font-weight: 500;
    color: var(--title-color);
}

aside ul li a.active,
aside ul li a:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}

aside a:hover {
    gap: 18px;
}