.not-found .content {
    /* background-color: red; */
    display: flex;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.not-found .content h3{
    font-size: 2rem;
    font-weight: 700;
    color: var(--title-color);
    margin: 40px 0 12px;
}

.not-found .content p{
    color: var(--text-color);
}