.custom-table,
.pagination-table {
    width: 100%;
    overflow-x: auto;
    padding-bottom: 8px;
}

.custom-table::-webkit-scrollbar,
.pagination-table::-webkit-scrollbar{
    height: 5px;
}

.custom-table table,
.pagination-table table {
    text-align: right;
}

.custom-table table tr th,
.pagination-table table tr th {
    text-align: right;
    height: 4rem;
}

.custom-table table tr td,
.pagination-table table tr td {
    color: var(--text-color);
    font-size: 16px;
}

.custom-table table tr td,
.pagination-table table tr td {
    height: 4rem;
}

.pagination-table table tr td a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.pagination-table .pagination-bar{
    direction: ltr;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}